<!doctype html>
<html ng-app>
  <head>
    <script src="http://bit.ly/angular429"></script>
    
    <script language="javascript" type="text/javascript">
        function TodoCtrl($scope) {
          $scope.todos = [];
 
          $scope.addTodo = function() {
              $scope.todos.push({text:$scope.todoText});
              $scope.todoText = '';
          };
         }

    </script>
  </head>
  <body>
    <h2>Please leave a message</h2>
    <div ng-controller="TodoCtrl">
      There are {{todos.length}} messages
      <ul>
        <li ng-repeat="todo in todos">
          {{todo.text}}
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new message here">
        <input type="submit" value="add">
      </form>
    </div>
  </body>
</html>