<!doctype html>
<html ng-app="ProblemBuilder">
  <header>
    <script src="http://bit.ly/angular429"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"></script>
    <script language="javascript" type="text/javascript">
      angular.module('ProblemBuilder', ['ngResource']);
      function TodoController($scope,$resource){
        
        $scope.apikey = "123";
        $scope.remote_url = "http://code-comparison.appspot.com";
        $scope.model = "user";
      	$scope.todos = [];
        $scope.Model = $resource('/:apikey/:model_type');
        $scope.RemoteMetadata = $resource($scope.remote_url+'/:apikey/metadata',
                                {callback: 'JSON_CALLBACK'}, 
                                   {get: {method: 'JSONP', isArray: false}}
                            );
        
        $scope.LocalMetadata = $resource('/:apikey/metadata',
                                {callback: 'JSON_CALLBACK'}, 
                                   {get: {method: 'JSONP', isArray: false}}
                            );
        //Will run when the page loads. 
        $scope.local = $scope.LocalMetadata.get({'apikey':$scope.apikey});
        
        $scope.addTodo = function(){
          $scope.todos.push({text:$scope.todoText});
          $scope.todoText = "";
          $scope.items = $scope.Model.get({model_type:$scope.model,'apikey':$scope.apikey});
          $scope.remote =  $scope.RemoteMetadata.get({'apikey':$scope.apikey}); 
          $scope.local = $scope.LocalMetadata.get({'apikey':$scope.apikey});
          
          $scope.RemoteMetadata.get({'apikey':$scope.apikey},
                function(response) { 
                    $scope.temp = response;  
                });
        
        };

        
                           
      }
    </script>
  </header>
	<body ng-controller="TodoController">
    <h2>This page will become the editor that can edit any items for a given apikey. 
    <h2>How can we get better?</h2>
    There are {{todos.length}} suggestions. 
    <ul>
      <li ng-repeat="todo in todos">
        {{todo.text}}
      </li>
    </ul>
      API Key: <input type="text" ng-model="apikey"><br>
      Model: <input type="text" ng-model="model"><br>
    <form ng-submit="addTodo()">
      <input type="text" ng-model="todoText" placeholder="add here">
      <input type="submit" value="add">
    </form>
    <hr>
      <ul>
      <li ng-repeat="m in items">
        {{m}}
      </li>
    </ul>
    <hr>
      {{model}}(s): <pre>{{items}}</pre><br>
    Remote: <pre>{{remote}}</pre><br>
    Local: <pre>{{local}}</pre><br>
    Temp: <pre>{{temp}}</pre>
    apikey: {{apikey}}<br>
    model: {{model}}  
  </body>
</html>